management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,prometheus
    jmx: 
      exposure:
        exclude: "*"
  health:
    mail:
      enabled: false
    rabbit:
      enabled: false
spring:
  profiles:
    active: mongo-cache,mongo-session
  data:
    mongodb:
      uri: "mongodb+srv://dev:${DATABASE_PASSWORD}@demo.uskpz.mongodb.net/"
      #?w=4&readConcernLevel=majority&readPreference=primary
      database: mongodb-developer
    redis:
      host: clustercfg.tsp-cache.byysaj.ape1.cache.amazonaws.com
      port: 6379
      ssl: 
        enabled: true
  liquibase:
    enabled: true
    change-log: db/changelog/db.changelog-master.yaml
logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
#              MongoTemplate: DEBUG
      mongodb:
        driver:
          connection: DEBUG
settings:
  #App thread pool setting
  corePoolsize: 10 
  maxPoolSize: 30
  queueSize: 100000
  instance-group:
    collection: "_instances"
    heartbeat:
      interval: 2000
    maxTimeout: 10000
  changeStream:
    batchSize: 10000
    maxAwaitTime: 800
    watchColls: tTableRating,tLocn,tArea