<div class="flex-fill d-flex flex-column">
    <form [formGroup]="form" submit="return false;">
        <div class="flex-fill d-flex flex-column">
            <h1>Workloads</h1>

            <div class="d-flex flex-column justify-content-around">
                <div class="d-flex justify-content-between">
                    <div>
                        <mat-form-field>
                            <mat-label>Available change stream</mat-label>
                            <mat-select formControlName="cs">
                                <mat-option value="bucket-data">Bucket data</mat-option>
                                <mat-option value="final-data">Final data</mat-option>
                                <mat-option value="dashboard">Dashboard</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mode</mat-label>
                            <mat-select formControlName="mode">
                                <mat-option value="BOARDCAST">Boardcast</mat-option>
                                <mat-option value="AUTO_RECOVER">Auto recover</mat-option>
                                <mat-option value="AUTO_SCALE">Auto scale</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Recovery</mat-label>
                            <mat-select formControlName="recovery">
                                <mat-option value="NONE">None</mat-option>
                                <mat-option value="EVERY">Every</mat-option>
                                <mat-option value="BATCH">Batch</mat-option>
                                <mat-option value="TIME">Time interval</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <button type="button" mat-flat-button [disabled]="form.invalid"
                            (click)="submit()"><mat-icon>check</mat-icon>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex scroll-container">
        <table mat-table [dataSource]="dataSource">
            <!-- csId Column -->
            <ng-container matColumnDef="csId" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Change stream</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csId}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- collection Column -->
            <ng-container matColumnDef="coll" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Collection</th>
                <td mat-cell *matCellDef="let row">
                    {{row.coll}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- mode Column -->
            <ng-container matColumnDef="csMode" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Mode</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csMode}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- Recovery Column -->
            <ng-container matColumnDef="csResumeStrategy" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Recovery</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csResumeStrategy}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!--  Column -->
            <ng-container matColumnDef="csBatchSize" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Batch size</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csBatchSize}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- Max await time Column -->
            <ng-container matColumnDef="csMaxAwaitTime" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Max await time</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csMaxAwaitTime}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- Save token interval Column -->
            <ng-container matColumnDef="csSaveTokenInterval" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Save token interval</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csSaveTokenInterval}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>
            <!-- Index Column -->
            <ng-container matColumnDef="csIndex" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Index</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csIndex}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>


            <!-- instances Column -->
            <ng-container matColumnDef="csInstances" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Instances</th>
                <td mat-cell *matCellDef="let row">
                    {{row.csInstances}}
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button type="button" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button type="button" mat-menu-item (click)="unwatch(row)">Unwatch</button>
                    </mat-menu>
                </td>
                <td mat-footer-cell *matFooterCellDef aria-label="row">&nbsp;</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            <tr mat-footer-row *matFooterRowDef="columns; sticky:true"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </table>
    </div>
</div>