<div fxFlex fxLayout="column">
  <mat-toolbar>MongoDB Benchmarking tools</mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="false">
      <mat-nav-list>
        <a mat-list-item href="workloads">Workloads</a>
        <a mat-list-item href="transaction">Transaction</a>
        <a mat-list-item href="change-stream">Change Stream</a>
        <a mat-list-item href="search">Search</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5%">
      <div fxFlex class="content">
        <router-outlet></router-outlet>
      </div>
      <footer><app-metrics></app-metrics></footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>