<div fxFlex fxLayout="column">
  <mat-toolbar>Header</mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="false">
      <mat-nav-list>
        <a mat-list-item href="...">spring vs mongodb driver</a>
        <a mat-list-item href="...">spring data repo/spring helper/mongodb driver</a>
        <a mat-list-item href="...">spring converter/mongodb driver codec</a>
        <a mat-list-item href="...">Operations</a>
        <a mat-list-item href="...">insert/update/delete/replace</a>
        <a mat-list-item href="...">Option</a>
        <a mat-list-item href="...">bulk/distributed/write concern</a>
        <a mat-list-item href="...">Transaction</a>
        <a mat-list-item href="...">Insert+Update/Validate+Update</a>
        <a mat-list-item href="...">Seach</a>
    
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>